.details {
    grid-area: section;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
} 

/* Image area of details //////////////////////////////// */

.imagePreview {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: auto;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
.imagePreview img {
    width: 615px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid white;
}
/* ///////////////////////////////////////////// */

/* Location Summary and Key Details area /////// */
.information {
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 height: 250px;
 display: flex;
 justify-content: space-evenly;
}
.information {
    color: white;
    margin: 10px;
}
.information h4 {
    color: white;
    position: relative;
    left: -15px;
}
.information h2 {
    text-decoration: underline;
}
.boxStyle {
    background-color:rgba(0,0,0,0.7);
    border: 3px solid white;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    width: 480px;
    height: 250px;
    overflow: auto;
}
.boxStyle li {
    color: white;
    text-align: left;
    padding: 10px;
}
.detailsButton,
.summaryContainer,
.locationContainer,
.keyDetailsContainer {
    visibility: hidden;
}
.summaryContainer p,
.locationContainer p,
.keyDetailsContainer p {
    color: white;
    text-align: left;
    padding: 10px;
    line-height: 1.5em;
}

.detailsButton{
    height: 30px;
    margin-top: 20px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
    
}
/* ////////////////////////////////////// */

.summaryContainer {
    background-color:rgba(0,0,0,0.7);
    border: 3px solid white;
    text-align: center;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 330px;
    height: 350px;
    overflow: auto;
}
.summaryContainer h4 {
    color: white;
    position: relative;
}
