.itineraryContainer {
    grid-area: itin;
    min-height: 400px;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid white;
    border-radius: 10px;
    display: grid;
    overflow: hidden;
}
.itinPreviewHeader{
    color: white;
    font-size: 30px;
}
.itineraryContainer p {
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.saveItin {
    height: 30px;
    width: 25%;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
    overflow: hidden;
}